# Virtual Environment
.venv/
venv/

# Cahce/Build/Temp Files
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/


# Environment Files
.env

# VSCode
.vscode/

# Coverage
.coverage*
coverage.xml
